.header{
    height: 400px;
}

h3 {
  font-size: 30px;
  text-decoration: overline;
  font-family: 'Courier New', Courier, monospace;
}
.bold{
margin: 40px;
border: 10px solid tomato;
box-shadow: 10px 10px 20px;
}
.intar{
    border: 2px solid purple;
}